
<%= render 'shared/user_id_header' %>

<h2>Market successfully created!</h2>
<p>You have created <%= @market.name %>, with market ID of <%= @market.id %>.</p>


<p>Want to sign is as the newly created market? <%= link_to "Go to login", sessions_index_path %> </p>


<%= render "shared/mi_link" %>
